.not-enough-book {
    color: red;
}

.nav-link {
    color: #ffffff !important;
}

.btn-info  {
    color: #ffffff !important;
    background-color: #3f4449 !important;
    border-color: #1c1b1b !important;
}

.btn-info:hover {
    background-color: #646870 !important;
    border-color: #524e4e !important;
    color: #000000 !important;
}

.text-link {
    text-decoration: none;
}
.virtualList__container {
    height: 100%;
    outline: none;
    overflow: auto;
    width: 100%;
}
.main {
    position: fixed;
    height: 100%;
    width: 100%;
}

/*.text-link:hover {*/
/*    color: #001445;*/
/*}*/

